

.exportPlan{
    //  transform: rotate(-90deg);
      //text-transform: rotate(-90deg);
      //  word-wrap: length($list: );
    // transform-origin: 0 0 0 0;
    // text-align: center;
     //margin: 0;
    // writing-mode: vertical-rl
  }

  .center{
    text-align: center;
    
    margin: 20;
  }

  .yearNode{
    background-color: cornflowerblue;
  }