@import '../../styles/variables';

.fileUpload {
  display: flex;
  justify-content: space-between;
  :global {
    .anticon-eye {
      color: $medium-blue;
    }
    .anticon-delete {
      color: $danger;
    }
    .ant-space-item:last-child {
      width: 100% !important;
    }
  }
}

.uploadDiv {
  margin-right: 10px;
  button {
    border-style: dashed;
  }
}

.pdfViewContainer {
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  display: flex;
}
