@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
$warning: #f3a405;
$color-grey: #414446;
$medium-blue: #45629c;
$light-cyan: #6dbfd8;
$light-grey: #9d9898;
$hover-light: #f7f7f7;
* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.trigger {
  padding: 0;
  font-size: 18px;
  line-height: 50px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: rgba(0, 0, 0, 0.85);}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.p-datatable-wrapper table {
  width: 100%;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
  padding: 0px;
}

.ant-layout-header {
  padding: 0px 0px !important;    
}
.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon  {
  color: #103154;
  font-size: 1rem;
}
.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-title-content {
  // color: #103154;
  font-size: 14px;
}
.ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
  color: #103154;
  font-size: 1rem;
}
.ant-menu-submenu-expand-icon, .ant-menu-submenu-arrow {
position: none;
}


.p-datatable, 
.p-treetable {
  font-size: 12px !important;
  text-align: center !important;
  tr:nth-child(odd) {
    background: #f8f9fa !important;
  }
  .p-datatable-thead > tr:first-child > th, 
  .p-treetable-thead > tr > th {
    padding-bottom: 0 !important;
    text-align: center !important;
    padding: 6px 6px 6px !important;
  }
  .p-datatable-tbody > tr > td,
  .p-treetable-tbody > tr > td {
    padding: 4px 1rem !important;
    cursor: pointer;
    border: 1px solid #ebeef0 !important;

  }
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
  font-size: 10px;
} 
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel {
  width: 20px !important;
  height: 20px !important;
}
.p-checkbox .p-checkbox-box {
  width: 15px !important;
  height: 15px !important;
}
.DataTable table > thead > tr > th,
.DataTable table > tbody,
.DataTable table > tbody > tr,
.DataTable table > tbody > tr > td {
    border: none !important;
}
.p-datatable {
    font-size: 12px !important;
    text-align: center !important;
    tr:nth-child(odd) {
      background: #f8f9fa !important;
      text-align: center !important;
    }
    .p-datatable-thead > tr:first-child > th {
      padding-bottom: 0 !important;
      text-align: center !important;
      border: 1px solid #ebeef0 !important;
      padding: 10px 10px 10px !important;
    }
  }
  .p-datatable .p-datatable-thead > tr > th{
text-align: center !important;
  border-width: 0 1px 0px 0 !important;
  }
  .page {
    background-color: #fff;
    .ant-checkbox-inner {
      width: 14px !important;
      height: 14px !important;
    }
    .ant-checkbox {
      margin: 0px 5px 0px 0px !important;
    }
    .p-checkbox .p-component{
      border: 1px solid;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: $warning !important;
      border-color: $warning !important;
    }
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: $warning !important;
    }
    .ant-checkbox:hover .ant-checkbox-inner {
      border-color: $warning !important;
    }
    body {
      margin: 0;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      // font-family: Inter, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    }
    .space-between {
      display: flex;
      justify-content: space-between;
    }
    .page {
      background-color: #eee;
      .ant-input-number {
        width: 100%;
      }
    }
    .container {
      margin: 1rem;
      padding: 10px;
      border: 16px solid #eee;
      font-size: 0.75rem;
      h2 {
        text-align: center;
      }
      h6 {
        font-size: 0.9rem;
        margin-top: 8px;
        margin-bottom: 16px;
        text-align: center;
        font-style: italic;
      }
    }
    .ant-card {
      font-size: 0.75rem !important;
    }
    #org * {
      font-size: 0.75rem !important;
    }
  
    .subtitle {
      background-color: #45629c;
      color: #fff;
      padding: 6px;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold !important;
      margin: 30px 0;
    }
  
    .input-field > .ant-input-number {
      border-right-width: 0;
      border-radius: 0;
    }
    .flex-mode {
      display: flex !important;
      justify-content: space-between;
    }
    .input-field {
      display: flex !important;
      justify-content: space-between;
      :last-child {
        border-right-width: 1px;
      }
      a {
        color: #7c9dce;
        font-style: italic;
      }
      .ant-input-number-handler-wrap {
        display: none;
      }
    }
    .contact-info {
      width: 100%;
      border: 1px solid #ddd;
      padding: 0px;
      margin-top: 8px;
      margin-bottom: 20px;
      .ant-col-12 {
        padding: 0px 24px;
      }
    }
  
    input {
      width: 100%;
      height: fit-content;
    }
    .ant-btn-primary {
      background: #45629c !important;
      border: none !important;
    }
    h2 {
      font-size: 1.2rem;
      color: #000;
      font-weight: bold !important;
    }
    .container {
      h2 {
        font-size: 1.2rem;
        color: #000;
        font-weight: bold !important;
        margin: 0;
      }
    }
    .ant-input {
      height: 24px;
      border-radius: 0 !important;
      font-size: 0.75rem !important;
    }
    .sub-group {
      margin-top: -10px;
      margin-left: 10px;
      background: white;
      width: fit-content;
      padding: 0 6px;
    }
    // .form-input {
    //   text-align: center;
    //   padding: px !important;
    // }
    .ant-picker {
      height: 24px;
    }
    .songolt {
      height: 24px;
      width: 100%;
      display: flex !important;
      justify-content: space-between;
    }
    .songolt > div {
      margin-right: 6px;
    }
    .songolt > :last-child {
      margin-right: 0;
    }
    .ant-select {
      height: 24px;
      .ant-select-selector {
        height: 100% !important;
      }
      .ant-select-selection-search-input {
        height: 100% !important;
      }
      .ant-select-selection-placeholder {
        font-style: italic;
      }
      .ant-select-selection-placeholder,
      .ant-select-selection-item {
        font-size: 0.75rem;
        align-self: center;
        margin: 0;
      }
    }
    .ant-input:placeholder-shown {
      font-style: italic;
      font-size: 0.75rem;
    }
    .ant-picker-input > input {
      font-size: 0.75rem !important;
    }
    .ant-picker-input > input:placeholder-shown {
      font-style: italic;
    }
    .ant-select-item-option-content {
      font-size: 0.75rem;
    } 
    .fileupload {
      span {
        color: #848484;
        font-style: italic;
      }
    }
    .ant-table {
      line-height: 1 !important;
      font-size: 0.75rem !important;
      td,
      th {
        padding: 4px 8px !important;
      }
    }
  
    .footer {
      overflow: hidden;
      position: relative;
      padding: 20px;
      text-align: center;
      button {
        margin: 5px;
        padding: 0 5rem;
        border: none;
      }
    }
    .footer:before {
      content: "";
      position: absolute;
      border-top: 7.5px dashed #afafaf;
      top: -6px;
      bottom: -8px;
      left: 0px;
      right: 0px;
    }
    .ant-table-thead > tr > th {
      text-align: center !important;
    }
    .ant-modal-header {
      //padding-top: 8px !important;
      padding-right: 24px !important;
      padding-bottom: 8px !important;
      padding-left: 24px !important;
      background: #f8f8f8 !important;
    }
  
    .ant-modal-body {
      margin-top: 30px !important;
    }
    .ant-modal-content {
      width: 100%;
      height: 100%;
    }
    .alert-modal {
      max-width: 85vw !important;
      .ant-modal-content {
        border-radius: 2rem !important;
      }
    }
    .map-dialog {
      .ant-modal-footer {
        position: absolute;
        bottom: 20px;
      }
    }
    .map-search-div {
      position: absolute;
      z-index: 1;
      width: 60%;
      text-align: center;
      margin-left: 25%;
      // .ant-input {
      //   width: 60%;
      // }
    }
    .mapSearcher {
      position: absolute;
      z-index: 1;
      margin-left: 400px;
      height: 20%;
      width: 40%;
      top: 10px;
      .location-search-input {
        width: 80%;
        height: 38%;
        font-size: 70px;
      }
      .autocomplete-dropdown-container {
        width: 80%;
      }
      .saveButton {
        margin-left: 10px;
        height: 38%;
      }
    }
    .ant-empty-description {
      display: none;
    }
  
    .ant-form-item-required {
      font-size: 20px;
      height: 32px;
    }
    .ant-form-item-label {
      white-space: normal !important;
    }
    .ant-form-item-label > label {
      display: inline !important;
    }
  
    .antSelector {
      width: 200px !important;
    }
    .stateoneLocals {
      padding: 0px;
      .ant-select-selection-item {
        width: 0px;
      }
    }
  
    //alert-styles
    .carousel-dot {
      button {
        background: blue !important;
      }
    }
    .slide-main {
      height: 92%;
      padding: 0 3rem;
      overflow: auto;
      h6 {
        font-size: 13.3px;
        padding: 2px;
      }
    }
    .attention-text {
      color: #707070;
    }
  
    .ant-carousel .slick-prev,
    .ant-carousel .slick-next {
      font-size: 40px !important;
      color: #6c63ff !important;
      transition: all 0.3s;
    }
    .ant-carousel .slick-prev:hover,
    .ant-carousel .slick-next:hover {
      font-size: 45px !important;
      color: #3333cc !important;
      transition: all 0.3s;
    }
    .ant-carousel .slick-next {
      margin-right: 20px;
    }
    @media (max-width: 500px) {
      .slide-main {
        padding: 0 1rem;
      }
    }
    .rcorners1 {
      border-radius: 1rem;
      background: #0019a2f1;
      color: #fff;
      font-family: serif;
      padding: 3px 8px;
      font-size: 16px;
      line-height: 1.1;
      margin-right: 15px;
      height: 23px;
      align-items: center;
    }
  
    .rcorners2 {
      border-radius: 1rem;
      background: #e60000;
      font-family: emoji;
      color: #fff;
      font-weight: bold;
      padding: 0px 8px;
      font-size: 20px;
      line-height: 1.1;
      margin-right: 15px;
      height: 23px;
    }
    .content-style {
      height: 90vh;
      line-height: 160px;
      text-align: center;
      color: #fff;
    }
    @media only screen and (max-width: 600px) {
      .content-style {
        height: 75vh;
      }
    }
    //
    .form-group {
      align-self: center;
      button {
        padding: 0;
        margin-right: 8px;
        border: 1px dashed #5f8da0;
      }
      label {
        padding: 4px 16px;
      }
    }
    .fileupload {
      .ant-col-8 {
        align-self: center;
      }
    }
  }
  .ant-input:hover {
    border-right-width: 1px !important;
  }
  
  /* input radius */
  .ant-input-group > .ant-input:first-child,
  .ant-input-group-addon:first-child {
    border-bottom-left-radius: 10px !important;
    height: 27px !important;
    border-top-left-radius: 10px !important;
  }
  /* button radius */
  .ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button {
    border-radius: 0 10px 10px 0 !important;
    height: 27px !important;
    background: whitesmoke !important;
  }
  .ant-btn-link {
    color: #000;
  }
  /* ariin ongo */
  .ant-input-group-addon {
    background-color: white !important;
  }
  
  .search-button .ant-input {
    background: whitesmoke !important;
  }
  .btn-layout {
    display: flex;
    flex-wrap: wrap;
    background: white !important;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 4px;
    button {
      align-items: center;
      display: flex;
      svg {
        font-size: 14px;
        color: $medium-blue;
        margin-right: 2px;
      }
      &:hover {
        background-color: $hover-light;
      }
    }
    .ant-btn[disabled] {
      color: #ccc !important;
      svg {
        color: #a8b6d3;
      }
    }
  }
  